---
description: 'Grey ribbon on home page.'
---
<div layout="row" layout-align="center center" layout-padding class="ls-ribbon">
  <div layout="row" layout-xs="column" layout-align="center center" layout-align-xs="center start" class="content-container">
    <md-list-item class="md-2-line">
      <div class="md-avatar" layout="row" layout-align="center center">
        <img src="{{ 'images/tag.png' | theme_resource }}" alt="tag" />
      </div>
      <div class="md-list-item-text">
        <h3 class="ls-subheading">Money back</h3>
        <p class="ls-caption">Lorem ipsum text</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <div class="md-avatar" layout="row" layout-align="center center">
        <img src="{{ 'images/gift.png' | theme_resource }}" alt="gift" />

      </div>
      <div class="md-list-item-text">
        <h3 class="ls-subheading">Free shipping</h3>
        <p class="ls-caption">All items ship 3-5 days</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <div class="md-avatar" layout="row" layout-align="center center">
        <img src="{{ 'images/clock.png' | theme_resource }}" alt="clock" />

      </div>
      <div class="md-list-item-text">
        <h3 class="ls-subheading">24 hr support</h3>
        <p class="ls-caption">We're here to help!</p>
      </div>
    </md-list-item>
  </div>
</div>
