---
description: 'Displays account info form.'
---


<div layout="column" class="min-width-640 padding-mobile" ng-controller="CheckoutCtrl">
{{ open_form({'data-ajax-handler': 'shop:onUpdateCustomerProfile', 'class': 'custom', 'data-validation-message' : ''}) }}
  <input type="hidden" name="billing[id]" value="{{ billing.id }}" />
  <h3 class="ls-heading letter-spacing-2 padding-y-medium">Personal information</h3>
  <div layout="row">
    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label class="ls-subheading">First name</label>
      <input ng-init="billing.fname = '{{ billing.first_name }}'" ng-model="billing.fname"  name="billing[first_name]" id="billing_firstName" type="text" required>
    </md-input-container>
    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label class="ls-subheading">Last name</label>
      <input ng-model="billing.lname" ng-init="billing.lname = '{{ billing.last_name }}'" name="billing[last_name]" id="billing_lastName" type="text" required>
    </md-input-container>
  </div>

  <div layout="row" layout-xs="column" layout-align-xs="center center" layout-align="space-between center">
    <md-input-container flex class="md-input-has-placeholder hide-errors mobile-100">
      <label class="ls-subheading">Email address</label>
      <input ng-model="billing.email" ng-init="billing.email = '{{ customer.email }}'" name="billing[email]" id="billing_email" type="email" required>
    </md-input-container>
    <div flex layout="row" layout-align="center center">
      <md-button class="md-primary" ng-href="{{ site_url('/account/change-password') }}" target="_blank">Change password</md-button>
    </div>
  </div>

  <h3 class="ls-heading letter-spacing-2 padding-y-medium margin-top-medium">Billing & shipping information</h3>
  <div layout="row" layout-xs="column">
    <md-input-container flex="66" flex-xs="100" class="md-input-has-placeholder hide-errors">
      <label class="ls-subheading font-16">Street address</label>
      <input ng-model="billing.street" ng-init="billing.street = '{{ billing.street_address }}'" name="billing[street_address]" id="billing_address" type="text" required>
    </md-input-container>
    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label class="ls-subheading font-16">City</label>
      <input ng-model="billing.city" ng-init="billing.city = '{{ billing.city }}'" name="billing[city]" id="billing_city" type="text" required>
    </md-input-container>
  </div>
  
  <div layout="row" layout-xs="column">
    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label for="billing_country" class="ls-subheading font-16">Country</label>
      <select id="billing_country" name="billing[shop_country_id]" 
      ng-model="billing.country" ng-init="billing.country = '{{ billing.country.id }}'" 
      ng-change="$root.showLoadingScreen();onCountryChange();" 
      ng-disabled="!billing.street.length" 
      data-state-selector="#billing_state" 
      data-current-state="{{ billing.country.id }}"
      >
        {% for country in countries %}
          <option {{ option_state(billing.country.id, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
        {% endfor %}
      </select>
    </md-input-container>

    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label for="billing_state" class="ls-subheading font-16">State/Province</label>
      <select id="billing_state"  ng-click="onStateChange();" name="billing[shop_state_id]" ng-model="billing.state" ng-init="billing.state = '{{ billing.state.id }}'" ng-disabled="!billing.street.length" data-ajax-refresh>
        {{ partial('shop-stateoptions', {'states': billingStates, 'selected': billing.state.id}) }}
      </select>
    </md-input-container>

    <md-input-container flex class="md-input-has-placeholder hide-errors">
      <label class="ls-subheading font-16">Postal/Zip Code</label>
      <input ng-model="billing.postcode" ng-init="billing.postcode = '{{ billing.postal_code }}'" name="billing[postal_code]" id="billing_postal_code" type="text" required>
    </md-input-container>
  </div>

  
  <div class="validation-row">
    <input name="billing[shop_country_id]" ng-model="billing.country" class="input-hidden"  ng-init="billing.country = '{{ billing.country.id }}'" type="text">
    <span class="error"></span>
 </div>
  <div layout="row" layout-align="start center" class="margin-bottom-small" ng-init="initBillingIsShipping();">
    <md-checkbox class="md-primary" ng-model="shippingIsBilling" aria-label="Same as billing" ng-change="$scope.shippingIsBilling = !$scope.shippingIsBilling" >
      <span class="md-caption">
        Use billing address for shipping address
      </span>
    </md-checkbox>
  </div>

  <div layout="column">
    <div layout="row" layout-xs="column">
      <md-input-container flex="66" flex-xs="100" class="md-input-has-placeholder hide-errors">
        <label class="ls-subheading font-16">Street address</label>
        <input ng-model="shipping.street" ng-readonly="shippingIsBilling" ng-init="shipping.street = '{{ shipping.street_address }}'" name="shipping[street_address]" id="shipping_address" type="text" required>
      </md-input-container>
      <md-input-container flex class="md-input-has-placeholder hide-errors">
        <label class="ls-subheading font-16">City</label>
        <input ng-model="shipping.city" ng-readonly="shippingIsBilling" ng-init="shipping.city = '{{ shipping.city }}'" name="shipping[city]" id="shipping_city" type="text" required>
      </md-input-container>
    </div>
    
    <div layout="row" layout-xs="column">
      <md-input-container flex class="md-input-has-placeholder hide-errors">
        <label for="shipping_country" class="ls-subheading font-16">Country</label>
        <select id="shipping_country" ng-readonly="shippingIsBilling" 
        name="shipping[shop_country_id]" 
        ng-model="shipping.country"
        ng-init="shipping.country = '{{ shipping.country.id }}'" 
        ng-change="$root.showLoadingScreen();"
        data-state-selector="#shipping_state" 
        data-current-state="{{ shipping.country.id }}"
        ng-disabled="shippingIsBilling;"
        >
          {% for country in countries %}
            <option {{ option_state(shipping.country.id, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
          {% endfor %}
        </select>
      </md-input-container>

      <md-input-container flex class="md-input-has-placeholder hide-errors" ng-show="!shippingIsBilling;">
        <label for="shipping_state" class="ls-subheading font-16">State/Province</label>
        <select id="shipping_state"  name="shipping[shop_state_id]" ng-model="shipping.state" ng-init="shipping.state = '{{ shipping.state.id }}'" data-ajax-refresh  >
          {{ partial('shop-stateoptions', {'states': shippingStates, 'selected': shipping.state.id}) }}
        </select>
      </md-input-container>
      
      <md-input-container flex class="md-input-has-placeholder hide-errors" ng-show="shippingIsBilling" >
        <label class="ls-subheading font-16">State/Province</label>
        <input ng-model="stateTextValue"  type="text" ng-disabled="true">
      </md-input-container>

      <md-input-container flex class="md-input-has-placeholder hide-errors">
        <label class="ls-subheading font-16">Postal/Zip Code</label>
        <input ng-model="shipping.postcode" ng-readonly="shippingIsBilling" ng-init="shipping.postcode = '{{ shipping.postal_code }}'" name="shipping[postal_code]" id="shipping_postal_code" type="text" required>
      </md-input-container>
    </div>
    
      <div class="validation-row">
        <input name="shipping[shop_country_id]" ng-model="shipping.country" class="input-hidden"   ng-init="shipping.country = '{{ shipping.country.id }}'" type="text">
        <span class="error"></span>
     </div>
  </div>

  <h3 class="ls-heading letter-spacing-2 padding-y-medium margin-top-medium">Notification settings</h3>
  <div layout="row" layout-align="start center">
    <md-checkbox class="md-primary" ng-model="customer.accepts_marketing" ng-init="customer.accepts_marketing = {{ customer.accepts_marketing }}" ng-true-value="1" ng-false-value="0" aria-label="Receive notifications" >
      <span class="md-caption">
        Receive occasional email updates and promotions from us.
      </span>
    </md-checkbox>
    <input ng-model="customer.accepts_marketing" name="accepts_marketing" type="hidden" readonly />
  </div>

  <div layout="row" layout-xs="column" layout-fill layout-align="space-between start" layout-align-xs="center center" flex class="padding-y-medium border-bottom">
      <md-button flex-order-xs="2" class="ls-button no-margin-x md-button-outline  opacity-50" ng-href="{{ site_url('/account/orders') }}">Order history</md-button>

      <md-button flex-order-xs="1" class="ls-button no-margin-x  ls-button-wide" type="submit">
        Save
      </md-button>
  </div>
  <input type="hidden" name="redirect" value="{{ site_url('/products') }}"/>
  {{ close_form() }}
</div>