---
description: 'Shows cart items, totals and more.'
---
{{ partial('partial-banner-alt', { banner: { title: 'My cart' }}) }}

{% if flash() | length %}
{% endif %}

<div layout="column" class="bg-white padding-mobile">

  <div class="content-container padding-y-large" layout="column" layout-align="center center">
  {% if itemCount %}

    <ul class="ls-cart" id="cart-items" layout="column" flex>
      {{ partial('shop-cart-items') }}
    </ul>

    <div layout="row" layout-align="end center" layout-fill flex class="padding-y-medium border-bottom padding-x-medium" id="cart-total">
      {{ partial('shop-cart-totals') }}
    </div>
  {% else %}
    <h2 class="ls-heading">Your cart is empty.</h2>
    <div layout="column">
      <md-button class="ls-button  margin-y-medium" ng-href="{{ site_url('products') }}">Continue shopping</md-button>
    </div>
  {% endif %}


  {% if itemCount %}
    <div layout="row" layout-xs="column" layout-fill layout-align="space-between start" layout-align-xs="center center" flex class="padding-y-medium border-bottom">
      <div layout="column" flex-order-xs="2">
        <md-button class="ls-button md-button-outline no-margin  opacity-50" ng-href="{{ site_url('products') }}">Continue shopping</md-button>
      </div>
      <div layout="column" flex-order-xs="1" class="margin-bottom-mobile">
        {% if customer %}
          <md-button class="ls-button  no-margin ls-button-wide" ng-href="{{ site_url('/checkout') }}">
            Checkout
          </md-button>
        {% else %}
          <md-button class="ls-button  no-margin ls-button-wide" ng-href="{{ site_url('/checkout-start') }}">
            Checkout
          </md-button>
        {% endif %}
      </div>
    </div>
     <div layout="row" layout-xs="column" layout-fill layout-align="end center" layout-align-xs="center center" flex class="padding-y-medium border-bottom">
       <div layout="column" flex-order-xs="1" class="margin-bottom-mobile" layout-padding>
           {% if payPalExpressCheckoutButton %}
            {{ payPalExpressCheckoutButton }}
            {% endif %}
          {% if amazonPayButton %}
            {{ amazonPayButton }}
          {% endif %}
       </div>
     </div>
  {% endif %}

  {% if (upsells.isEmpty() == false) and (theme.showUpsellCrossSell) %}
  <div layout="column" layout-fill class="padding-y-medium">
    <h3 class="ls-subheading padding-y-medium">You might also like...</h3>
    {{ partial('partial-relatedproducts', { relatedProducts: upsells }) }}
  </div>
  {% endif %}

  </div>
</div>