---
description: 'Blog card for blog page.'
---
<div flex="50" flex-xs="100" class="padding-small">
  <md-card class="blog-card no-margin">
    <div style="display:none;">{{ post.featured_image.thumbnail(500, 'auto') }}</div>
    <div class="md-card-img-container" >
      <img src="{{ post.featured_image.thumbnail(500, 'auto') }}"  alt="{{ post.title }}">
    </div>
    <md-card-content>
      <div class="blog-title" layout="column" layout-align="center start">
        <a href="{{ post.permalink }}" class="limit-2-line no-link-style ls-subheading">
           {{ post.title }}
        </a>
      </div>
      <p class="blog-excerpt limit-2-line md-caption ls-caption line-height-15 font-13">{{ post.excerpt | striptags | raw }}</p>
      <p class="blog-date md-body-1 font-14 ls-caption">[[ '{{ post.published_on }}' | moment | capitalize ]]</p>
    </md-card-content>
  </md-card>

</div>
