---
description: 'Form to change password'
---
<div layout="row">
  {% if change %}
  <md-input-container flex="50" flex-xs="100" class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">Old password</label>
    <input ng-model="password.old" name="oldPassword" id="oldPassword" type="password">
  </md-input-container>
  {% endif %}
</div>

<div layout="row" layout-xs="column">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">New password</label>
    <input ng-model="password.new" {% if change %} ng-disabled="!password.old.length" {% endif %} name="password" id="password" type="password">
  </md-input-container>

  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">Confirm password</label>
    <input ng-disabled="!password.new.length" ng-model="password.confirm" name="passwordConfirm" id="passwordConfirm" type="password">
  </md-input-container>
</div>

<input type="hidden" name="redirect" value="{{ root_url('/account/login') }}"/>
<input type="hidden" name="passwordRestoreSubmit" value="1">
<input type="hidden" name="success_message" value="Your password was successfully changed. Please login with your new password.">

<div layout="row" layout-fill layout-align="center center" flex class="padding-y-medium border-bottom">
  <div layout="column">
    <md-button ng-disabled="{% if change %} !password.old.length ||{% endif %} !password.confirm.length || password.confirm !== password.new" class="ls-button no-margin-x  ls-button-wide" type="submit" name="password_restore_submit" ng-click="$root.showLoadingScreen();">
      {% if change %} Change {% else %} Set {% endif %} password
    </md-button>
  </div>
</div>
