---	
description: 'Retrieves category info and puts it into objects for angular.'		
---

{% tree categories %}

    {% set parentCategories = 0 %}{# Sets variable #}
    {% for category in tree.items %}
        {% if category.parent is empty %}
            {% set parentCategories = parentCategories + 1 %}
        {% endif %}
    {% endfor %}

    "categories": [
      {% for category in tree.items if category.parent is empty %}
          {
            "id": {{ category.id }},
            "name": "{{ category.name | raw }}",
            "short_description": "{{ category.short_description | escape("html_attr") }}",
            "url_name": "{{ category.url_name | raw }}",
            "api_code": "{{ category.api_code }}",
            "meta_keywords": "{{ category.meta_keywords | raw }}",
            "products_count": {{ category.products_count }},
            "is_visible": {{ category.is_visible is same as(1) ? "true" : "false" }},
            "thumbnail": "{{ category.images.first.thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}",
            "background_image": "{{ category.images[1].thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}",
            "children": [
              {% for child in category.children %}
              {
                "id": {{ child.id }},
                "name": "{{ child.name | raw }}",
                "short_description": "{{ child.short_description | escape("html_attr") }}",
                "url_name": "{{ child.url_name | raw }}",
                "parent_name": "{{ child.parent.name | raw }}",
                "parent_id": "{{ child.parent.id }}",
                "api_code": "{{ child.api_code }}",
                "meta_keywords": "{{ child.meta_keywords | raw }}",
                "products_count": {{ child.products_count }},
                "is_visible": {{ child.is_visible is same as(1) ? "true" : "false" }},
                "thumbnail": "{{ category.images.first.thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}",
                "background_image": "{{ category.images[1].thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}",
                "children": [
                    {% if child.children | length %}
                        {% for grandChild in child.children%}
                        {
                            "id": {{ grandChild.id }},
                            "name": "{{ grandChild.name | raw }}",
                            "short_description": "{{ grandChild.short_description | escape("html_attr") }}",
                            "url_name": "{{ grandChild.url_name | raw }}",
                            "parent_name": "{{ grandChild.parent.name | raw }}",
                            "parent_id": "{{ grandChild.parent.id }}",
                            "api_code": "{{ grandChild.api_code }}",
                            "meta_keywords": "{{ grandChild.meta_keywords | raw }}",
                            "products_count": {{ grandChild.products_count }},
                            "is_visible": {{ grandChild.is_visible is same as(1) ? "true" : "false" }},
                            "thumbnail": "{{ category.images.first.thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}",
                            "background_image": "{{ category.images[1].thumbnail(800, 'auto')|default('http://placehold.it/460x300') }}"
                        	}
                        {% if not loop.last %},
                        {% endif %}

                        {% endfor %}
                    {% endif %}

                ]
              }
              {% if not loop.last %},{% endif %}
              {% endfor %}
            ],
            "last": "{{ parentCategories }}"
          }
          {% if loop.index != parentCategories %},{% endif %}
      {% endfor %}
    ]
    {% endtree %}