<div id="footer">
  <div layout="column" layout-align="center center" class="padding-mobile">

    <div class="content-container" layout-fill layout="column">
      <md-divider layout="row"></md-divider>
      <div layout="row" layout-align="space-around center" flex>
        <a class="ls-heading font-13 md-caption theme-heading no-link-style ls-link" href="{{ site_url('/company') }}">Company</a>
        <a class="ls-heading font-13 md-caption theme-heading no-link-style ls-link" href="{{ site_url('/products') }}">Product</a>
        <a class="ls-heading font-13 md-caption theme-heading no-link-style ls-link" href="{{ site_url('/contact') }}">Contact</a>
      </div>
      <div layout="row" class="padding-y-medium" layout-align="space-between center">
        <div layout="row" layout-align="center center" flex>
          <a href="/" class="footer-nav-link">
            <img class="footer-nav-img" alt="{{ theme.storeTitle }}_logo" src="{{ theme.logoImage.thumbnail('auto', 'auto') }}" />
          </a>
          <p class="md-caption ls-caption copyright">
            [[ $root.date | date: 'yyyy' ]] {{ theme.storeTitle }}
          </p>
        </div>
        <div flex></div>
      </div>
    </div>
  </div>
</div>
