---
description: 'Product object'
---
{# filter products #}
{% set filtered = [] %}
{% set max_filtered_price = 0 %}
{% for product in products %}
  {% if not param('search') or param('search')|lower in product.name|lower %}
    {% set max_filtered_price = max(product.price, max_filtered_price) %}
    {% if not param('price') or param('price') >= product.price %}
      {% set filtered = filtered|merge([product]) %}
    {% endif %}
  {% endif %}
{% endfor %}
"products": [
{% for product in filtered[param('start')|default(0):param('length')|default(100)] %}
  {
      "id": {{ product.id }},
      "name" : "{{ product.name | unescape }}",
      "sku" : "{{ product.sku }}",
      "description" : "{{ product.short_description | escape("html_attr") }}",
      "url_name": "{{ product.url_name }}",
      "price": {{ product.price }},
      "on_sale": {{ product.is_on_sale is same as(1) ? "true" : "false" }},
      "manufacturer": "{{ product.manufacturer.name }}",
      "manufacturer_url": "{{ product.manufacturer.url_name }}",
      "categories": [
        {% for category in product.categories %}
          "{{ category.url_name }}"{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "thumbnail": "{{ product.images.first.thumbnail(500, 'auto')|default('http://placehold.it/460x300') }}",
      "options": [
        {% for option in product.options %}
        {
          "id": {{ option.id }},
          "name": "{{ option.name }}",
          "values": [
            {% for value in option.values  %}
              "{{ value }}"{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
          {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
  }
{% if not loop.last %},{% endif %}
{% endfor %}
],
"count": {{ filtered|length }},
"max_price": {{ max_filtered_price }}
