---
description: 'Featured sale display'
---
<div layout="column" layout-align="center center" class="padding-y-medium padding-mobile text-white background-cover" id="featured-sale" 
style="background-image: url('{{ theme.featuredAdPanelImage.thumbnail(1920, 'auto') }}'); background-color: #ffcb40;">
  <div layout-fill layout="row" class="content-container">
    <div flex="40" hide-xs hide-sm>
    </div>
    <div flex class="text-left content-left-padding">
      <h1 class="ls-heading padding-y-medium">{{ theme.featuredAdPanelTitle }}</h1>
      <p class="md-body-1 line-height-15">{{ theme.featuredAdPanelText }}</p>
    </div>
  </div>
  <div layout="row" layout-padding layout-align="start center" class="padding-y-medium">
    <md-button class="ls-button md-button-outline" href="{{ theme.featuredAdPanelLink }}">{{ theme.featuredAdPanelLinkText }}</md-button>
  </div>
</div>
