<md-dialog aria-label="Submit review" class=" min-width-640">
  {{ open_form({'data-ajax-handler': 'system:onSendMessage', 'data-test': 'true'}) }}
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">

          <h3 class="ls-heading letter-spacing-2 padding-y-medium no-padding-top">Write a review</h3>

          <div layout="row">
            <md-input-container flex class="md-input-has-placeholder hide-errors">
              <label class="ls-subheading">Your name</label>
              <input ng-model="review.name" name="fields[name]" id="contact_name" type="text">
            </md-input-container>

            <md-input-container flex class="md-input-has-placeholder hide-errors">
              <label class="ls-subheading">Email address</label>
              <input ng-model="review.email" name="fields[email]" id="contact_email" type="email">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex class="md-input-has-placeholder hide-errors">
              <label class="ls-subheading">Subject</label>
              <input ng-model="review.subject" name="fields[subject]" id="contact_subject" type="text">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex class="md-input-has-placeholder hide-errors">
              <label class="ls-subheading">Message</label>
              <textarea ng-model="review.message" name="fields[message]" id="contact_message" md-maxlength="500" rows="5"></textarea>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container flex class="md-input-has-placeholder hide-errors">
              <label for="item_rating" class="ls-subheading font-16">Rating</label>
              <select ng-model="review.rating" id="item_rating" name="fields[item_rating]">
                  <option value="" disabled>-</option>
                  <option value="5">★★★★★</option>
                  <option value="4">★★★★☆</option>
                  <option value="3">★★★☆☆</option>
                  <option value="2">★★☆☆☆</option>
                  <option value="1">★☆☆☆☆</option>
              </select>
            </md-input-container>
          </div>

          <input type="text" name="hp" value="" style="display: none"/>
          <input type="hidden" name="fields[shop_customer_id]" value="{{customer.id}}"/>
          <input type="hidden" name="fields[shop_product_id]" value="{{product.id}}"/>
          <input type="hidden" name="template" value="system:product-review"/>
          <input type="hidden" name="fields[message_type]" value="review"/>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>

      <md-button
        type="submit"
        ng-click="submit(review); $root.showLoadingScreen();"
        class="ls-button  no-margin-y margin-x-small">
        Submit review
      </md-button>
    </md-dialog-actions>
  {{ close_form() }}

</md-dialog>
