---
description: 'Product object'
---
{# filter products #}
{% set filtered = [] %}
{% set brand_ids = [] %}
{% set brands = [] %}
{% set max_filtered_price = 0 %}
{% for product in products %}
  {% if product.manufacturer.id and product.manufacturer.id not in brand_ids %}
    {% set brands = brands|merge([product.manufacturer]) %}
    {% set brand_ids = brand_ids|merge([product.manufacturer.id]) %}
  {% endif %}
  {% if (not param('search') or param('search')|lower in product.name|lower)
      and (not param('sale') or param('sale') != "true" or product.is_on_sale)
      and (not param('brand') or param('brand') == product.manufacturer.id) %}
    {% set max_filtered_price = max(product.price, max_filtered_price) %}
    {% if not param('price') or param('price') >= product.price %}
      {% set filtered = filtered|merge([product]) %}
    {% endif %}
  {% endif %}
{% endfor %}
"products": [
{% for product in filtered[param('start')|default(0):param('length')|default(100)] %}
  {
      "id": {{ product.id | json_encode() | raw }},
      "name" : {{ product.name | unescape | json_encode() | raw }},
      "sku" : {{ product.sku | json_encode() | raw }},
      "description" : {{ product.short_description | escape("html_attr") | json_encode() | raw }},
      "url_name": {{ product.url_name | json_encode() | raw }},
      "price": {{ product.price | json_encode() | raw }},
      "price_fmt": {{ product.price | currency | json_encode() | raw }},
      "on_sale": {{ product.is_on_sale is same as(1) ? "true" : "false" | json_encode() | raw }},
      "manufacturer": {{ product.manufacturer.name | json_encode() | raw }},
      "manufacturer_url": {{ product.manufacturer.url_name | json_encode() | raw }},
      "categories": [
        {% for category in product.categories %}
          {{ category.url_name | json_encode() | raw }}{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "thumbnail": {{ product.images.first.thumbnail(500, 'auto')|default('http://placehold.it/460x300') | json_encode() | raw }},
      "options": [
        {% for option in product.options %}
        {
          "id": {{ option.id | json_encode() | raw }},
          "name": {{ option.name | json_encode() | raw }},
          "values": [
            {% for value in option.values  %}
              {{ value | json_encode() | raw }}{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
          {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
  }
{% if not loop.last %},{% endif %}
{% endfor %}
],
"count": {{ filtered|length | json_encode() | raw }},
"max_price": {{ max_filtered_price | json_encode() | raw }},
"brands": [
{% for brand in brands %}
  {
    "id": {{ brand.id | json_encode() | raw }},
    "name": {{ brand.name | json_encode() | raw }},
    "url": {{ brand.url_name | json_encode() | raw }}
  }
  {% if not loop.last %},{% endif %}
{% endfor %}
]
