---
description: 'Shipping rate estimator.'
---
<div layout="column">
  <h3 class="ls-heading letter-spacing-2 padding-y-medium">Shipping rates calculator</h3>
    <div layout="row">
        <md-input-container flex class="md-input-has-placeholder hide-errors">
          <label class="ls-subheading font-16" for="country">Country</label>
          <select id="countryId" name="countryId" data-state-selector="#stateId" data-current-state="{{ shippingInfo.shop_state_id }}">
            {% for country in countries %}
              <option value="{{ country.id }}" {{ option_state(country.id, shippingInfo.shop_country_id) }}>{{ country.name }}</option>
            {% endfor %}
          </select>
        </md-input-container>
    </div>
    <div layout="row">
         <md-input-container flex class="md-input-has-placeholder hide-errors">
          <label class="ls-subheading font-16" for="stateId">State</label>
          <select id="stateId" name="stateId" data-ajax-refresh> 
            {{ partial('shop-stateoptions', {'states': states, 'selected': shippingInfo.shop_state_id}) }}
          </select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex class="md-input-has-placeholder hide-errors">
          <label for="postalCode">Zip/Postal Code</label>
          <input name="postalCode" type="text" value="{{ shippingInfo.postalCode }}"/>
        </md-input-container>
    </div>
    <div layout="row">
  <a flex-order-xs="2" md-ink-ripple class="md-button ls-button md-button-outline  opacity-50 no-margin" href="#"  data-ajax-handler="shop:onEvalShippingRate" data-ajax-update="#shippingOptions=shop-estimatedshippingmethods">Calculate</a>
  </div>
  <div id="shippingOptions"></div>
</div>