---
description: '3 page checkout shipping info.'
---
<div layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="center start" class="margin-y-mobile">
  <h3 class="ls-heading letter-spacing-2 padding-y-medium no-padding-mobile">Shipping address</h3>
  <md-checkbox  class="md-primary" ng-model="shippingIsBilling" aria-label="Same as billing" ng-change="$scope.shippingIsBilling = !$scope.shippingIsBilling"  ng-init="initBillingIsShipping();" >
    <span class="md-caption">
      Copy information
    </span>
  </md-checkbox>

</div>
<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">First name</label>
    <input ng-model="shipping.fname" ng-readonly="infoCopied" name="shippingInfo[firstName]" id="shipping_firstName" type="text" required    ng-disabled="shippingIsBilling;">
  </md-input-container>
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">Last name</label>
    <input ng-model="shipping.lname" ng-readonly="infoCopied" name="shippingInfo[lastName]" id="shipping_lastName" type="text" required   ng-disabled="shippingIsBilling;">

  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="shippingInfo[firstName]" ng-model="shipping.fname" class="input-hidden"  type="text">
    <span flex class="error"></span>
    <input flex name="shippingInfo[lastName]" ng-model="shipping.lname" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">Street address</label>
    <input ng-model="shipping.street" name="shippingInfo[streetAddressLine1]" id="shipping_address" type="text" required  ng-disabled="shippingIsBilling;">
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="shippingInfo[streetAddressLine1]" ng-model="shipping.street" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row" >
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label for="shipping_country" class="ls-subheading font-16">Country</label>
    <select ng-if="!shippingIsBilling" id="shipping_country" name="shippingInfo[countryId]" ng-change="$root.showLoadingScreen()" ng-model="shipping.country" ng-disabled="shippingIsBilling;" data-state-selector="#shipping_state" data-current-state="{{ shippingInfo.stateId }}">
      {% for country in countries %}
      <option {{ option_state(shippingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
    <input ng-if="shippingIsBilling" ng-model="country_name" ng-disabled="shippingIsBilling" id="shipping_countryName" type="text" required>
  </md-input-container>

  <md-input-container flex class="md-input-has-placeholder hide-errors" ng-show="!shippingIsBilling;">
    <label for="shipping_state" class="ls-subheading font-16">State/Province</label>
    <select ng-if="!shippingIsBilling" id="shipping_state" name="shippingInfo[stateId]" ng-model="shipping.state" ng-disabled="shippingIsBilling " data-ajax-refresh >
      {{ partial('shop-stateoptions', {'states': shippingStates, 'selected': shippingInfo.stateId}) }}
    </select>
    <input ng-if="shippingIsBilling" ng-model="state_name" ng-disabled="shippingIsBilling" id="shipping_stateName" type="text">
  </md-input-container>
  
    <md-input-container flex class="md-input-has-placeholder hide-errors" ng-show="shippingIsBilling" >
    <label class="ls-subheading font-16">State/Province</label>
    <input ng-model="stateTextValue"  type="text" ng-disabled="true"  ng-disabled="shippingIsBilling;">
  </md-input-container>
</div>

<div class="validation-row">
    <input name="shippingInfo[countryId]" ng-model="shipping.country" class="input-hidden" type="text">
    <span class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">City</label>
    <input ng-model="shipping.city" name="shippingInfo[city]" id="shipping_city" type="text" required  ng-disabled="shippingIsBilling;">
  </md-input-container>
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">Postal/Zip Code</label>
    <input  ng-model="shipping.postcode" ng-readonly="infoCopied" name="shippingInfo[postalCode]" id="shipping_postalCode" type="text"  ng-disabled="shippingIsBilling;" required>
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="shippingInfo[city]" ng-model="shipping.city" class="input-hidden"  type="text">
    <span flex class="error"></span>
    <input flex name="shippingInfo[postalCode]" ng-model="shipping.postcode" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<input ng-if="shippingIsBilling" class="input-hidden" id="shipping_country" ng-model="shipping.country" name="shippingInfo[countryId]" type="text">
<input ng-if="shippingIsBilling" class="input-hidden" id="shipping_state" ng-model="shipping.state" name="shippingInfo[stateId]" type="text">