---
description: '3 page checkout billing info'
---
<h3 class="ls-heading letter-spacing-2 padding-y-medium">Customer information</h3>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">First name</label>
    <input ng-model="billing.fname" name="billingInfo[firstName]" id="billing_firstName" ng-init="billing.fname='{{ billingInfo.firstName }}'" type="text" required>
  </md-input-container>
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">Last name</label>
    <input ng-model="billing.lname" name="billingInfo[lastName]" id="billing_lastName" ng-init="billing.lname='{{ billingInfo.lastName }}'" type="text" required>
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="billingInfo[firstName]" ng-model="billing.fname" class="input-hidden"  type="text">
    <span flex class="error"></span>
    <input flex name="billingInfo[lastName]" ng-model="billing.lname" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">Email address</label>
    <input ng-model="billing.email" name="billingInfo[email]" id="billing_email" ng-init="billing.email='{{ billingInfo.email }}'" type="email" required>
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="billingInfo[email]" ng-model="billing.email" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">Street address</label>
    <input ng-model="billing.street" name="billingInfo[streetAddressLine1]" id="billing_address" ng-init="billing.street = '{{ billingInfo.streetAddressLine1 }}'" type="text" required>
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="billingInfo[streetAddressLine1]" ng-model="billing.street" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label for="billing_country" class="ls-subheading font-16">Country</label>
    <select id="billing_country" name="billingInfo[countryId]" ng-model="billing.country" ng-init="billing.country = '{{ billingInfo.country.id }}'"  ng-change="getValue('country', '#billing_country'); $root.showLoadingScreen(); onCountryChange();" data-state-selector="#billing_state" data-current-state="{{ billingInfo.stateId }}">
      {% for country in countries %}
        <option {{ option_state(billingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  </md-input-container>

  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label for="billing_state" class="ls-subheading font-16">State/Province</label>
    <select id="billing_state" name="billingInfo[stateId]" ng-model="billing.state" ng-init="billing.state = '{{ billingInfo.state.id }}'" ng-change="getValue('state', '#billing_state'); onStateChange();" data-ajax-refresh>
      {{ partial('shop-stateoptions', {'states': billingStates, 'selected': billingInfo.stateId}) }}
    </select>
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="billingInfo[countryId]" ng-model="billing.country" class="input-hidden" type="text">
    <span flex class="error"></span>
    <input flex name="billingInfo[stateId]" ng-model="billing.state" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>

<div layout="row">
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">City</label>
    <input ng-model="billing.city" name="billingInfo[city]" id="billing_city" type="text" ng-init="billing.city ='{{ billingInfo.city }}'" required>
  </md-input-container>
  <md-input-container flex class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading font-16">Postal/Zip Code</label>
    <input  ng-model="billing.postcode" name="billingInfo[postalCode]" id="billing_postalCode" type="text" required ng-init="billing.postcode ='{{ billingInfo.postalCode }}'">
  </md-input-container>
</div>

<div class="validation-row" layout="row">
    <input flex name="billingInfo[city]" ng-model="billing.city" class="input-hidden"  type="text">
    <span flex class="error"></span>
    <input flex name="billingInfo[postalCode]" ng-model="billing.postcode" class="input-hidden"  type="text">
    <span flex class="error"></span>
</div>