<div layout="column" flex class="padding-x-medium no-padding-right no-padding-mobile margin-bottom-mobile" layout-align="center center" >
  <div id="checkout-cart" class="padding-regular">
    {% for item in cart.items %}
    <div layout="row" class="cart-item border-divider padding-y" layout-align="space-between start">
      <div flex class="cart-item-image-container">
        <img class="cart-item-image" src="{{ item.product.images.first.thumbnail(136, 136) }}" alt="product-image" />
      </div>
      <div layout="column" flex="66">
        <div layout="row">
          <div layout="column" flex="50">
            <a class="ls-heading-small ls-link no-link-style margin-bottom-xs" ng-href="{{ site_url('/product/') ~ item.product.url_name }}">{{ item.product.name }}</a>
          </div>
          <span class="checkout-price ls-heading-small text-center" flex>{{ item.quantity }}</span>
          <span class="checkout-price ls-heading-small text-right" flex>{{ item.price()|currency }}</span>
        </div>
        <div layout="row">
          <div layout="column">
            {% if item.options %}
            <ul>
              {% for option in item.options %}
                <li class="md-caption ls-caption">[[ '{{ option.value }}' | capitalize ]]</li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if item.extras %}
            <ul>
              {% for extra in item.extras %}
                <li class="md-caption ls-caption">+ [[ '{{ extra.name }}' | capitalize ]] ({{ extra.base_price | currency }})</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
   
    {% if coupon_code %}
    <div layout="column" layout-align="end left" class="border-divider padding-y" id="cart-disc">
      <div class="coupon-code">
        <h3 class="ls-heading-small">
          Coupon: <span class="checkout-price weight-400">{{ coupon_code }}</span>
        </h3>
      </div>
      
      <h3 class="ls-heading-small padding-bottom-small">
        Discount: <span class="checkout-price weight-400">{{ totals.discountTotal|currency }}</span>
      </h3>
      <a flex-order-xs="2" md-ink-ripple class="md-button ls-button md-button-outline  opacity-50 no-margin" href="javascript:;" ng-click="$scope.isUpdateCoupon = !$scope.isUpdateCoupon;">Edit</a>
    </div>
    {% else %}
    <div layout="column" layout-align="end left" class="border-divider padding-y" id="cart-disc">
      {% if totals.discountTotal %}
        <h3 class="ls-heading-small padding-y-small">
          Discount: <span class="checkout-price weight-400">{{ totals.discountTotal|currency }}</span>
        </h3>
      {% endif %}
      
       <div flex="100" flex-xs="100" layout="row" layout-align="center center">
          <a flex-order-xs="2" md-ink-ripple class="md-button ls-button md-button-outline  opacity-50 no-margin" href="#" ng-click="$scope.isUpdateCoupon = !$scope.isUpdateCoupon;">Add Discount Code</a>
        </div>
    </div>
    {% endif %}

    <div layout="column" class="border-divider padding-y">
      <div layout="row" layout-align="end center" class="margin-bottom-xs">
        <div flex="66" flex-xs="100"  layout="row" layout-align="space-between center">
          <h3 class="ls-heading-small">
            Subtotal:
          </h3>
          <span class="checkout-price ls-heading-small">
            {{ totals.subtotalNoTax|currency }}
          </span>
        </div>
      </div>

      {% if totals.totalShippingQuote %}
        <div layout="row" layout-align="end center" class="margin-bottom-xs">
          <div flex="66" flex-xs="100"  layout="row" layout-align="space-between center">
            <h3 class="ls-heading-small">
              Shipping:
            </h3>
            <span class="checkout-price ls-heading-small">
              {{ totals.totalShippingQuote|currency }}
            </span>
          </div>
        </div>
      {% endif %}

      <div layout="row" layout-align="end center">
        <div flex="66" flex-xs="100"  layout="row" layout-align="space-between center">
          <h3 class="ls-heading-small">
            Taxes:
          </h3>
          <span class="checkout-price ls-heading-small">
            {{ totals.totalTax|currency }}
          </span>
        </div>
      </div>
    </div>

    <div layout="row" layout-align="end center" class="padding-y no-padding-bottom">
      <div flex="66" flex-xs="100"  layout="row" layout-align="space-between center">
        <h3 class="ls-heading-small">
          Total:
        </h3>
        <span class="checkout-price ls-heading-small checkout-total">
          {{ totals.total |currency }}
        </span>
      </div>
    </div>
  </div>
</div>