---
description: 'Item list for receipt page and order page.'
---

<table hide-xs id="receipt-table" class="padding-y-small">
  <tr>
    <th colspan="6">Item</th>
    <th>Qty</th>
    <th colspan="2">Unit Price</th>
    <th colspan="2">Total</th>
  </tr>
  {% for shipment in invoice.shipments %}
    {% for item in shipment.shipmentItems %}
      <tr>
        <td colspan="4">
          <a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(80, 80) }}"/></a>
        </td>
        <td colspan="2">
          <p style="font-size: 14px;"><a class="no-link-style" href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></p>
        </td>
        <td class="padding-x-small text-center">
          <strong hide show-xs>qty: </strong><i>{{ item.quantity|number_format(0) }}</i>
        </td>
        <td class="padding-x-medium text-center" colspan="2">
          <strong hide show-xs>unit price: </strong><i>{% if item.product.onSale() %}<s class="discount">{{ item.product.fullPrice()|currency }}</s>{% endif %} {{ item.original_price|currency }}</i>
        </td>
        <td class="padding-x-small text-center" colspan="2">
          <strong hide show-xs>total: </strong><i>{{ item.total()|currency }}</i>
        </td>
      </tr>
  
    

    {% endfor %}
  {% endfor %}
</table>

{% for shipment in invoice.shipments %}
  {% for item in shipment.shipmentItems %}
    <div hide show-xs layout-xs="column" layout-align-xs="center start" layout-padding class="no-padding-left">
      <div>
          <h3 class="ls-heading letter-spacing-2 padding-y-medium"><a class="no-link-style" href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h3>
          <a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(80, 80) }}"/></a>
      </div>
      <div>
        <strong class="font-14" hide show-xs>Quantity: </strong><i>{{ item.quantity|number_format(0) }}</i>
      </div>
      <div>
        <strong class="font-14" hide show-xs>Unit Price: </strong><i>{% if item.product.onSale() %}<s class="discount">{{ item.product.fullPrice()|currency }}</s>{% endif %} {{ item.original_price|currency }}</i>
      </div>
      <div>
        <strong class="font-14" hide show-xs>Total: </strong><i>{{ (item.original_price*item.quantity) |currency }}</i>
      </div>
    </div>
  {% endfor %}
{% endfor %}
