---
description: '3 page checkout choose shipping method step.'
---
{{ open_form({'class': 'custom'}) }}
  <div layout="column" id="checkout-shippingMethod">
    <div layout="column">
      {{ partial('shop-checkout-edit-discount') }}
      <h3 class="ls-heading letter-spacing-2 padding-y-medium">Shipping method</h3>
      <input type="text" class="input-hidden" readonly ng-model="shipping.shippingMethod" watch-change name="shippingMethod"  />
    {% if shippingOptions | length == 1 %}
      <span class="input-hidden" ng-init="autoApplyShipping(shippingMethod);" ></span>
    {% endif %}
      <md-radio-group ng-model="shipping.shippingMethod" id="shipping_method_list">
        {% for index, option in shippingOptions %}
          <md-radio-button value="{{ index }}" aria-label="Shipping - {{ option.shippingMethodName }}">
            {{ option.shippingMethodName }}{% if option.shippingServiceName %}: {{ option.shippingServiceName }}{% endif %}
            <span class="ls-caption md-caption">({{ not option.is_free ? option.quote|currency : 'Free' }})</span>
          </md-radio-button>
        {% endfor %}
      </md-radio-group>
      <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between center" class="padding-y-medium" layout-align-sm="space-between center" layout-align-xs="space-between center">
        <a flex-order-xs="2" md-ink-ripple class="md-button ls-button md-button-outline  opacity-50" ng-href="{{ site_url('products') }}">Continue shopping</a>
        <a
          id="select_shipping_continue"
          flex-order-xs="1"
          md-ink-ripple
          class="md-button ls-button  ls-button-wide"
          ng-href="#"
          ng-click="$root.showLoadingScreen();isAutoUpdatedPayment=false;"
          style="background-color: {{ theme.secondaryColor }};"
          data-ajax-handler="shop:checkout"
          compile-on-click="#checkout-page"
          data-ajax-update="#checkout-steps=shop-checkout-steps,#checkout-progress=shop-checkout-progress,#checkout-minicart=shop-checkout-cart">
          Continue
        </a>
      </div>
    </div>
  </div>
  <input type="hidden" name="step" value="shipping_method,review" />
  <input type="hidden" name="nextStep" value="pay" />
{{ close_form() }}