<div layout="column" flex layout-align="center end">
  <div layout="row" layout-align="end center">
    <p class="ls-heading letter-spacing-none text-right" flex>Total:</p>
    <p class="ls-caption md-caption font-16" flex>
      <span class="padding-x-medium">
        {{ totals.total | currency }}
      </span>
    </p>
  </div>
  {% if totals.discountTotal > 0 %}
  <div layout="row" layout-align="end center" class="margin-top-small">
    <p class="ls-heading letter-spacing-none text-right" flex>Total savings:</p>
    <p class="ls-caption md-caption text-blue" flex>
      <span class="padding-x-medium">
        {{ totals.discountTotal | currency }}
      </span>
    </p>
  </div>
  {% endif %}
</div>
