---
description: 'Password restore landing page.'
---

{% if flash() | length %}
  <script>
      window.flash(
     'Password restore email was sent.', 5000
      );
  </script>
{% endif %}

<h2 class="ls-heading letter-spacing-2">Thank you!</h2>
<p class="ls-caption md-caption padding-y">Please be sure to check your email to reset your password!.<p>
<div layout="row" layout-fill layout-align="center center" flex class="padding-y-medium border-bottom">
      <div layout="column">
        <a class="ls-button no-margin-x  ls-button-wide  md-button md-ink-ripple" href="/products">
          Continue Shopping
        </a>
      </div>
</div>