---
description: '3 page checkout address step'
---
{{ open_form({'class': 'custom', 'name': 'checkoutForm', 'data-validation-message' : ''}) }}

{{ partial('shop-checkout-edit-discount') }}
<div layout="column">
  {{ partial('shop-checkout-billing') }}
  {{ partial('shop-checkout-shipping') }}
  <div layout="row" layout-align="start center">
    <md-checkbox class="md-primary" ng-model="profile.accepts_marketing" ng-true-value="1" ng-false-value="0" ng-checked="1" aria-label="Receive notifications" >
      <span class="md-caption">
        Receive occasional email updates and promotions from us.
      </span>
    </md-checkbox>
    <input ng-model="profile.accepts_marketing" class="input-hidden" name="accepts_marketing" readonly />
  </div>
  <div layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="center center">
    <a md-ink-ripple flex-order-xs="2" class="md-button ls-button md-button-outline  opacity-50 no-margin margin-y-mobile" ng-href="{{ site_url('products') }}">Continue shopping</a>
    <a class="md-button ls-button  ls-button-wide no-margin"
      flex-order-xs="1"
      md-ink-ripple
      ng-href="#"
      ng-click="$root.showLoadingScreen();"
      data-ajax-handler="shop:checkout"
      data-ajax-update="#checkout-progress=shop-checkout-progress,#checkout-steps=shop-checkout-steps"
      compile-step="shipping_method"
      compile-on-click="#checkout-page">
      Continue
    </a>
  </div>
</div>
<input type="hidden" name="step" value="billing_info,shipping_info"/>
<input type="hidden" name="nextStep" value="shipping_method"/>
{{ close_form }}