---
name: shop-passwordrestorerequest
---
{% if invalidHash %}
  <h2 class="ls-heading letter-spacing-2">Your link is not valid</h2>
{% else %}
  <h2 class="ls-heading letter-spacing-2">Enter your email</h2>
{% endif %}
<p class="ls-caption md-caption padding-y">Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>

<div layout="row">
  <md-input-container flex="50" flex-xs="100" class="md-input-has-placeholder hide-errors">
    <label class="ls-subheading">Email address</label>
    <input ng-model="email" name="email" id="email" type="email">
  </md-input-container>
</div>

<input type="hidden" name="requestPasswordRestore" value="1">
<input type="hidden" name="successMessage" value="Password restore email was sent."/>
<div layout="row" layout-fill layout-align="center center" flex class="padding-y-medium border-bottom">
  <div layout="column">
    <md-button ng-disabled="password.confirm !== password.new" class="ls-button no-margin-x  ls-button-wide" type="submit" name="passwordRestoreSubmit">
      Send email
    </md-button>
  </div>
</div>
