<div layout="column">
    <md-list>
    <md-list-item>
        <p><strong>Subtotal:</strong> <i>{{ invoice.subtotal|currency }}</i></p>
    </md-list-item>
     <md-list-item>
        <p><strong>Sales Tax:</strong> <i>{{ invoice.total_sales_tax |currency }}</i></p>
    </md-list-item>
    <md-list-item>
        <p><strong>Shipping:</strong> <i>{{ invoice.total_shipping_quote|currency }}</i></p>
    </md-list-item>
    {% if order.total_shipping_tax %}
     <md-list-item>
        <p><strong>Shipping Taxes:</strong> <i>{{ invoice.total_shipping_tax|currency }}</i></p>
    </md-list-item>
    {% endif %}
     <md-list-item>
        <h3 class="ls-heading letter-spacing-2 padding-y-medium" layout-align="left center"><strong>Total:</strong>  <i>{{ invoice.total|currency }}</i></h3>
    </md-list-item>
    </md-list>
</div>