---
description: 'A page used to retrieve theme customization data.'
action: 'cmscontent:archive'
template: json-api
protocol: all
published: true
name: 'Theme data'
url: /api/theme
---
{
    "logo_image": {{ theme.logoImage.thumbnail('auto', 'auto') | json_encode() | raw }},
    "store_title": {{ theme.storeTitle | json_encode() | raw }},
    "banner": {
      "image": {{ theme.bannerImage.thumbnail('auto', 'auto') | json_encode() | raw }},
      "title": {{ theme.bannerTitleText | json_encode() | raw }},
      "text": {{ theme.bannerSentenceText | json_encode() | raw }},
      "color": {{ theme.bannerTextColor | json_encode() | raw }},
      "button": {
        "background": {{ theme.secondaryColor | json_encode() | raw }},
        "color": {{ theme.bannerButtonTextColor | json_encode() | raw }}
      }
    },
    "social": {
      "facebook": {{ theme.facebookUrl | json_encode() | raw }},
      "twitter": {{ theme.twitterUrl | json_encode() | raw }},
      "pinterest": {{ theme.pinterestUrl | json_encode() | raw }},
      "instagram": {{ theme.instagramUrl | json_encode() | raw }}
    },
    "mailchimp": {
      "image": {{ theme.signUpBackground.thumbnail(1920,'auto') | json_encode() | raw }},
      "text": {{ theme.signUpText | json_encode() | raw }},
      "api_key": {{ theme.mailchimpApiKey | json_encode() | raw }},
      "list_id": {{ theme.mailchimpListId | json_encode() | raw }}
    },
    "featured_sale": {
      {% set oneOnly = 'true' %}
      {% for post in archives if post.type is same as ('page') %}
        {% set isFeatured = 'false' %}
        {% for category in post.categories %}
          {% if category.slug is same as ('featured-sale') %}
            {% set isFeatured = 'true' %}
          {% endif %}
        {% endfor %}

        {% if isFeatured is same as ('true') and oneOnly is same as ('true') %}
          {% set oneOnly = 'false' %}
          "title": {{ post.title | json_encode() | raw }},
          "slug": {{ post.slug | json_encode() | raw }},
          "image": {{ post.featured_image.thumbnail(1920, 'auto')|default('http://placehold.it/1000x365') | json_encode() | raw }},
          "permalink": {{ post.slug | json_encode() | raw }},
          "categories": [
            {% for category in post.categories %}
              {{ category.name | json_encode() | raw }}
              {% if not loop.last %},{% endif %}
            {% endfor %}
          ],
          "publish_date": {{ post.published_on | json_encode() | raw }},
          "excerpt": {{ post.excerpt | unescape | json_encode() | raw }},
          "body": {{ post.body | unescape | json_encode() | raw }}
        {% endif %}
      {% endfor %}
      }
}
