---
description: 'A page where a logged in customer can read/edit their customer info.'
action: 'shop:customerProfile'
template: main
protocol: all
published: true
name: Account
url: /account
---

{{ partial('partial-banner-alt', { banner: { title: 'Account' }}) }}

<div layout="column" layout-align="center center" class="bg-white" id="checkout-page" ng-controller="CheckoutCtrl" compile-on-change="#checkout-shippingMethod">
  <div layout="column" class="content-container padding-y-large" layout-align="start center">
    {% if customer %}
      {{ partial('partial-account') }}
      <!-- Using hasFeature helper method to check whether card variables should be accessed. -->
      {% if hasFeature('saved-cards') %}
          {% set editedCard = '' %}
          <div id="profile-edit-card">
              {{ partial('partial-account-edit-card') }}
          </div>
          {{ code_block('script') }}
      {% endif %}
    {% else %}
      <h2 class="ls-heading">You're not logged in</h2>
      <div layout="column">
        <md-button class="ls-button  margin-y-medium" ng-href="{{ site_url('/account/login') }}">Log in</md-button>
      </div>
    {% endif %}
  </div>
</div>
