---
action: 'shop:products'
template: json-api
protocol: all
published: true
name: 'Products API'
url: /api/products
---
[
    {% for product in products %}
        {
            "id" : {{ product.id }},
            "name" : "{{ product.name }}",
            "sku" : "{{ product.sku }}",
            "description" : "{{ product.short_description }}",
            "url": "{{ product.url_name }}",
            "price": "{{ product.base_price }}",
            "on_sale": {{ product.is_on_sale is same as(1) ? "true" : "false" }}
        }
        {% if not loop.last %},{% endif %}
    {% endfor %}
]
