---
action: 'shop:passwordRestore'
description: 'Displays the password restore form.'
template: main
protocol: all
published: true
name: 'Password Restore'
url: '/account/login/forgot-password/:hash!'
---

{{ partial('partial-banner-alt', { banner: { title: 'Forgot password' }}) }}
<div layout="column" layout-align="center center" class="bg-white" id="checkout-page" ng-controller="CheckoutCtrl" compile-on-change="#checkout-shippingMethod">
  <div layout="column" class="content-container padding-y-large padding-mobile" layout-align="start center">
    <div layout="column" class="min-width-640">
      {% if (hash) and not (invalidHash) %}
          {{ open_form({'data-ajax-handler': 'shop:passwordRestore', 'data-ajax-redirect' : '/login', 'data-validation-message' : ''}) }}
             <h3 class="ls-heading letter-spacing-2 padding-y-medium">Forgot password</h3>
                {{ partial('partial-changepassword') }}
            {{ close_form() }}
      {% else %}

          {{ open_form({'data-ajax-handler': 'shop:passwordRestore', 'data-ajax-update' : '#passwordRestoreRequestForm=shop-passwordrestorerequest', 'data-validation-message' : ''}) }}
            <div id="passwordRestoreRequestForm">
                {% if invalidHash %}
                  <h2 class="ls-heading letter-spacing-2">Your link is not valid</h2>
                {% else %}
                  <h2 class="ls-heading letter-spacing-2">Enter your email</h2>
                {% endif %}
                <p class="ls-caption md-caption padding-y">Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>
                
                <div layout="row">
                  <md-input-container flex="50" flex-xs="100" class="md-input-has-placeholder hide-errors">
                    <label class="ls-subheading">Email address</label>
                    <input ng-model="email" name="email" id="email" type="email">
                  </md-input-container>
                </div>
                
                <input type="hidden" name="requestPasswordRestore" value="1">
                <div layout="row" layout-fill layout-align="center center" flex class="padding-y-medium border-bottom">
                  <div layout="column">
                    <md-button ng-disabled="password.confirm !== password.new" class="ls-button no-margin-x  ls-button-wide" type="submit" name="passwordRestoreSubmit">
                      Send email
                    </md-button>
                  </div>
                </div>
            </div>
        {{ close_form() }}
      {% endif %}
    </div>
  </div>
</div>
