---
description: 'A page to list manufacturers.'
action: 'cmscontent:page'
template: main
protocol: all
published: true
name: Brands
url: /products/brands
---

{{ partial('partial-banner', {
  'banner': {
    'button': false,
    'title': 'Manufacturers',
    'subheading': 'Our industry-leading brands are here to make your place look fresh.',
    'overlay': true,
    'backgroundImage': 'images/pexels-photo-95354.jpeg' | theme_resource
  }}) }}

  <div layout="row" layout-fill layout-align="center center" class="bg-white">
    <div class="content-container" layout="row" layout-align="center start">

      <div layout="column" layout-fill class="padding-y-large max-width-960">
        <div class="padding-y-large no-padding-top">
          <h2 class="ls-heading text-center margin-y-medium">Our brands</h2>
          <p class="md-caption ls-caption line-height-15">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

        <md-grid-list
          id="brand-list"
          md-cols="3"
          md-row-height="2:1"
          md-gutter="25px">
          {% for man in manufacturers %}
          <md-grid-tile md-rowspan="1" md-colspan="1" >
            <a ng-href="{{ site_url('products/') ~ '?brand=' ~ man.url_name }}" class="no-link-style" layout="column" layout-fill layout-align="center center" md-ink-ripple>
              {% if man.images.first.thumbnail('auto', 'auto') %}
                <img src="{{ man.images.first.thumbnail('auto', 'auto') }}" alt="{{ man.url_name }}"><br>
              {% else %}
                <h3 class="ls-subheading">
                  {{ man.name }}
                </h3>
              {% endif %}
            </a>
          </md-grid-tile>
          {% endfor %}
        </md-grid-list>


        <!-- <div layout="row" layout-wrap layout-fill>
          {% for man in manufacturers %}
          <div flex="33" style="background-color: rgba(0,0,0,0.3); margin:16px; ">
            <a ng-href="{{ site_url('products/') ~ '?brand=' ~ man.url_name }}">
              <img src="{{ man.images.first.thumbnail('auto', 'auto') }}" alt="{{ man.url_name }}"><br>
              {{ man.name }}
            </a>
          </div>
          {% endfor %}
        </div> -->

      </div>
    </div>
  </div>
