---
description: 'A shop page defaulted to show a certain category.'
action: 'shop:category'
template: main
protocol: all
published: true
name: Categories
url: /categories/:urlName
---

<script type="text/javascript">

  var $route = {
    current: {
      params: {
        parentCategory:
        {% if category.parent is not empty %}
          "{{ category.parent.url_name }}",
        {% else %}
          "{{ category.url_name }}",
        {% endif %}
        category:
        {% if category.parent is not empty %}
          "{{ category.url_name }}",
        {% else %}
          null,
        {% endif %}
      }
    }
  }

  var categoryProducts = {
    "products": [
      {{ partial("partial-product", { "products": category.productList }) }}
    ]
  }

</script>

<div ng-controller="CategoriesCtrl">

  {{ partial('partial-banner') }}

  {{ partial('partial-categorypage') }}

  {{ partial('partial-featured-sale') }}


</div>
