---
description: 'The head checkout page.'
action: 'shop:checkout'
template: main
protocol: all
published: true
name: Checkout
url: /checkout
---

{{ partial('partial-banner-alt') }}

<div layout="column" layout-align="center center" class="bg-white" >
  <div id="checkout-page" ng-controller="CheckoutCtrl" layout-fill recompile>
    {% if not items.count %}
    <div layout="column" class="content-container padding-y-large" layout-align="start center">
      <h2 class="ls-heading">Your cart is empty</h2>
      <div layout="column">
        <md-button class="ls-button  margin-y-medium" ng-href="{{ site_url('products') }}">Continue shopping</md-button>
      </div>
    </div>
    {% else %}
             {% if theme.onePageCheckout %}
                <div id="checkout-accordion" layout="column" class="content-container padding-y-large" layout-align="start center" layout-fill>
                  {{ partial('shop-checkout-accordion') }}
                </div>
             {% else %}
              <div layout="column" class="content-container padding-y-large" layout-align="start center">
                <div layout="row" layout-xs="column" class="max-width-1024 padding-mobile" layout-fill>
                  <div layout="column" flex="66" flex-xs="100" flex-order-xs="2">
                    <div layout="row" layout-xs="column" id="checkout-progress" class="margin-bottom-small">
                      {{ partial('shop-checkout-progress') }}
                    </div>
                    <div id="checkout-steps">
                      {{ partial('shop-checkout-steps') }}
                    </div>
                  </div>
                   
                  <div id="checkout-minicart" flex-order-xs="1">
                    {{ partial('shop-checkout-cart') }}
                  </div>
                </div>
              </div>
            {% endif %}
    {% endif %}
  </div>
</div>

