---
description: 'Receipt page.'
action: 'shop:receipt'
template: main
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---
{{ partial('partial-banner-alt', { banner: { title: 'Receipt' }}) }}

<div layout="column" layout-align="center center" class="bg-white" id="receipt-page">
  <div layout="column" class="content-container padding-y-large padding-mobile" layout-align="start center" >

    {% if invoice %}
      <h1 class="text-center padding-y-medium weight-300">Thank you!</h1>
      <div layout="column" layout-fill>
           {% if invoice %}
            <div layout="row">
                <h3 class="ls-heading letter-spacing-2 padding-y-small">Your Order</h3>
            </div>
            <div layout="column" class="padding-y-small">
              <p class="ls-caption md-caption">
                Your confirmation number is <span class="weight-600">{{ invoice.order.number }}</span></h3>. You will be sent a confirmation email shortly with your receipt.
              </p>
            </div>
            <div layout="column" class="padding-y-small">
              {% if invoice.order.coupon_codes | length %}
                    <h3 class="ls-subheading">
                      Coupon Used: {{invoice.order.coupon_codes }}
                    </h3>
              {% endif %}
             </div>
             <div layout="column">
               {{ partial('shop-invoiceitems') }}
             </div>
             
            {% if invoice.isPaid() %}
           <div layout="column">
                   {{ partial('shop-invoicetotals') }}
           </div>
            {% else %}
              <p><a class="button" href="{{ site_url('review/'~order.order_hash) }}">Pay the order</a></p>
            {% endif %}
           {% else %}
              <p class="flash error">Invoice not found.</p>
           {% endif %}
      
        
        <div layout="row">
          <md-button class="ls-button md-button-outline  opacity-50 no-margin" ng-href="{{ site_url('products') }}">Continue shopping</md-button>
        </div>
      </div>
    {% else %}
    <div layout="column" layout-align="center center">
      <h2 class="ls-heading padding-y-medium">No receipt found.</h2>
      <md-button class="ls-button  no-margin" ng-href="{{ site_url('products') }}">
        Continue shopping
      </md-button>
    </div>
    {% endif %}

  </div>
</div>