---
description: 'Used to retrieve product objects.'
action: 'shop:product'
template: json-api
protocol: all
published: true
name: 'Product API'
url: '/api/products/:urlName'
---
{% if product %}
{
    "product": {
      "id": {{ product.id }},
      "name": "{{ product.name }}",
      "manufacturer": "{{ product.manufacturer.name }}",
      "url_name": "{{ product.url_name }}",
      "short_description": "{{ product.short_description | escape("html_attr") }}",
      "description": "{{ product.description | escape("html_attr") }}",
      "price": {{ product.price }},
      "is_on_sale": {{ product.is_on_sale }},
      "sale_price_or_discount": "{{ product.sale_price_or_discount }}",
      "in_stock_amount": "{{ product.in_stock_amount }}",
      "shipping_details": {
        "height": "{{ product.height }}",
        "width": "{{ product.width }}",
        "depth": "{{ product.depth }}",
        "weight": "{{ product.weight }}"
      },
      "thumbnail": "{{ product.images.first.thumbnail(500, 'auto')|default('http://placehold.it/460x300') }}",
      "images": [
        {% for image in product.images %}
        "{{ image.thumbnail(600, 'auto') }}"
        {% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "options": [
        {% for option in product.options %}
        {
          "id": {{ option.id }},
          "name": "{{ option.name }}",
          "values": [
            {% for value in option.values  %}
              "{{ value }}"{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        }
          {% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "reviews": [
        {% for review in product.reviews() %}
          {{ review | raw }}
          {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
}
  {% else %}
    {
        "error": "We can't find this product"
    }
  {% endif %}
