---
description: 'Used to retreive lists of category objects.'
action: 'shop:categories'
template: json-api
protocol: all
published: true
name: 'Categories API'
url: /api/categories
---
{
  {% tree categories %}

  {% set parentCategories = 0 %}{# Sets variable #}
  {% for category in tree.items %}
      {% if category.parent is empty %}
          {% set parentCategories = parentCategories + 1 %}
      {% endif %}
  {% endfor %}

  "categories": [
    {% for category in tree.items if category.parent is empty %}
        {
          "id": {{ category.id | json_encode() | raw }},
          "name": {{ category.name | raw | json_encode() | raw }},
          "url_name": {{ category.url_name | raw | json_encode() | raw }},
          "api_code": {{ category.api_code | json_encode() | raw }},
          "meta_keywords": {{ category.meta_keywords | raw | json_encode() | raw }},
          "products_count": {{ category.products_count | json_encode() | raw }},
          "is_visible": {{ category.is_visible is same as(1) ? "true" : "false" | json_encode() | raw }},
          "thumbnail": {{ category.images.first.thumbnail(800, 'auto')|default('http://placehold.it/460x300') | json_encode() | raw }},
          "children": [
            {% for child in category.children %}
            {
              "id": {{ child.id | json_encode() | raw }},
              "name": {{ child.name | raw | json_encode() | raw }},
              "url_name": {{ child.url_name | raw | json_encode() | raw }},
              "parent_name": {{ child.parent.name | raw | json_encode() | raw }},
              "parent_id": {{ child.parent.id | json_encode() | raw }},
              "api_code": {{ child.api_code | json_encode() | raw }},
              "meta_keywords": {{ child.meta_keywords | raw | json_encode() | raw }},
              "products_count": {{ child.products_count | json_encode() | raw }},
              "is_visible": {{ child.is_visible is same as(1) ? "true" : "false" | json_encode() | raw }},
              "thumbnail": {{ category.images.first.thumbnail(800, 'auto')|default('http://placehold.it/460x300') | json_encode() | raw }}
            }
            {% if not loop.last %},{% endif %}
            {% endfor %}
          ],
          "last": {{ parentCategories | json_encode() | raw }}
        }
        {% if loop.index != parentCategories %},{% endif %}
    {% endfor %}
  ]
  {% endtree %}
}
